// 2304px container + 4rem
$4k ?= 2112px + (2 * $gap)

4k()
  @media screen and (min-width: $4k)
    {block}

.container
  +from($4k)
    max-width: $4k - (2 * $gap)
    width: $4k - (2 * $gap)
  +until($4k)
    &.is-4k
      max-width: $4k - (2 * $gap)
      width: auto
